.hint-discover {
    display: flex;
    width: calc(265px + 59 * ((100vw - 900px) / (1230 - 900)));
    min-height: 79px;
    padding: 12px;
    align-items: flex-start;
    gap: 16px;
    position: absolute;
    left: clamp(15px, 3.252vw, 40px);
    top: calc(10px + 80 * ((100vw - 615px) / (1230 - 615)));
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 4px 34px 0px rgba(50, 75, 104, 0.17);

    @media (min-width: 1231px) {
        top: 90px;
        width: 324px;
    }
}

.hint-discover_picture {
    width: 58px;
    flex-shrink: 0;
    align-self: stretch;
    overflow: hidden;

    border-radius: 8px;
    background:
        url(./../../img/hints/coco-de-heaven.jpg),
        lightgray 50% / cover no-repeat,
        #909090;
}

.hint-discover_desc {
    flex-grow: 1;
}

.hint-discover_title {
    display: grid;
    grid-template-columns: auto 19px 29px;
    column-gap: 4px;
    align-self: center;

    color: #181818;
    font-family: var(--font-main);
    // font-size: 18px;
    font-size: calc(8px + 10 * ((100vw - 320px) / (1230 - 320)));
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 27px */

    @media (min-width: 1231px) {
        font-size: 18px;
    }
}

.hint-discover_star {
    width: 17px;
    height: 16px;
    align-self: center;
}

.hint-discover_rating {
    color: #181818;
    font-family: var(--font-main);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    align-self: center;
}

.hint-discover-text {
    color: #909090;
    // font-size: 16px;
    font-size: calc(8px + 10 * ((100vw - 320px) / (1230 - 320)));
    font-style: normal;
    font-weight: 500;
    line-height: 150%;

    @media (min-width: 1231px) {
        font-size: 16px;
    }
}

.hint-discover-dollar {
    color: #35aff4;
    font-size: 16px;
    font-style: normal;
    font-weight: 550;
    line-height: 150%;
}

.hint-discover_price {
    // font-size: 16px;
    font-size: calc(8px + 10 * ((100vw - 320px) / (1230 - 320)));
    font-style: normal;
    font-weight: 550;
    line-height: 150%; /* 24px */

    @media (min-width: 1231px) {
        font-size: 16px;
    }
}
