.testimonials_grid {
    // overflow: hidden;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
    justify-items: center;

    @media (max-width: 1120px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 740px) {
        grid-template-columns: repeat(1, 1fr);
    }
}

#testimonials-col-3 {
    @media (max-width: 1120px) {
        display: none;
    }
}

#testimonials-col-2 {
    @media (max-width: 740px) {
        display: none;
    }
}

.testimonials_col {
    display: flex;
    // margin-top: -60px;
    flex-direction: column;
    align-items: flex-start;
    // gap: clamp(32px, 10vw, 50px);
    gap: 32px;
    flex: 1 0 0;
}

.swiper_testimonials {
    height: 900px;

    .swiper-slide {
        height: 353px;
        // width: 320px;
        padding: 0 10px 32px;

        & > * {
            height: 100%;
        }

        @media (max-width: 1120px) {
            height: 370px;
        }

        @media (max-width: 750px) {
            height: 450px;
        }
    }
}

.smooth-transitiom {
    -webkit-transition-timing-function: linear !important;
    -o-transition-timing-function: linear !important;
    transition-timing-function: linear !important;
}
